
<head>
    <link href = "main.css" rel = "stylesheet" type = "text/css"/>
  </head>
<body style = 'background-color: rgb(75, 75, 75);'></body>
<div class="row mt-5">

        <div class="col-md-6 m-auto">
          <div class="card card-body text-center" style = 'background-color: darkgrey;'>
            <h1 style = 'color: white;'>SHUFFL</h1>
            <p style = 'color: pink;'>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2" style = 'background-color: rgb(255, 142, 160);'>Sign Up</a>
            
            <a href="/users/login" class="btn btn-secondary btn-block" style = 'background-color: black;'>Login</a>
          </div>
        </div>
      </div>

</body>