*{
    font-family: “Segoe UI”,Arial,Helvetica,sans-serif;
    color: white;
    
}

h1 {
    text-align: center;
}

#filterID {
    text-align: center;
}

#root {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.parent {
    flex-grow: 1;
    background-color: #444444;
    overflow: scroll;
}

/* -------------------------------- */
/* -------------SignIn------------- */
/* -------------------------------- */

.SignUp {
    text-align: center;
    background-color: #444444;
    flex-grow: 1;
    overflow: scroll;
}

.SignUpHeader {
    background-color: #444444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.signIn {
    color: black;
    width: 482px;
    padding: 20px;
    border-radius: 10px;
    background: #5D5D5D;
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.16);

}

@media only screen and (max-width: 767px){
    .signIn{
        width: 70%;
    }
}

#form{
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 0px 15px;
}

#form:hover {
    background-color: #F0F0F0;
}

.button {
    border: none;
    width: 60%;
    height: 38px;
}

.link{
    border: none;
    text-align: center;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}


.primary {
    border-radius: 20px;
    color: white;
    background-color: #FF88A1;
    font-size: 14px;
    line-height: 38px;
    cursor: pointer;
}

.primary:hover {
    background-color: #FF5579;
}

.secondaryText, .forgotpass{
    color: #948F8F;
    background-color: #5D5D5D;
    font-size: 14px;
    height: 38px;
    display: flex;
    justify-content: center;
    line-height: 38px;
}

.forgotpass:hover {
    color: #000;
}

.secondaryTextLogin {
    display: flex;
    justify-content: center;
    text-align: center;
    /*vertical-align: middle;*/
}

#wordLogin {
    vertical-align: middle;
}

.secondary{
    border-radius: 20px;
    color: #FF88A1;
    background-color: #5D5D5D;
    font-size: 14px;
    line-height: 38px;
}

.secondary:hover {
    color: #FF5579;
}

.bday{
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
}

.agree{
    padding-top: 7px;
    margin: 0rem .2rem;
    width:14px; /*Desired width*/
    height: 38px; /*Desired height*/
    cursor: pointer;
}

.signInLogo{
    height: 40vmin;
}


/* -------------------------------- */
/* -------------TopBar------------- */
/* -------------------------------- */

.TopBar{
    background-color: #FF88A1;
    min-height: 55px;
    max-height: 55px;
    /*flex: 1;*/
    width: auto;
    display: flex;
    flex-direction: row;
}
.TopHalf1{
    flex:1;
    width:50%;
}

.TopHalf2{
    width: 50%;
    line-height: 55px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

.TopBarLogo{
    height: 100%;
}

.linkContainer {
    min-width: 80px;
    color: white;
}

.linkContainer:hover {
    background-color: #ff5579;
}


/* -------------------------------- */
/* -------------Home------------- */
/* -------------------------------- */

.middle img {
    width: 100%;
    height: auto;
	max-height: 350px;
}

/* -------------------------------- */
/* -------------Browse------------- */
/* -------------------------------- */

.GenreList {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.Genre {
    flex: 0 0 24vw;
    margin: auto;
	margin-top: 1rem;
    height: auto;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    min-width: 150px;
}

.Genre img {
	max-width: 100%;
	height: auto;
}

.RoomList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Room {
    flex: 0 0 25vw;
    max-width: 140px;
    margin: 10px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.Room img {
    width: 100%;
    height: auto;
}

.RoomFooter {
    max-width: inherit;
    word-wrap: break-word;
}



/* -------------------------------- */
/* -------------Rooms------------- */
/* -------------------------------- */

/*
.RoomContainer {
    background-color: #444444;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
*/

.RoomButtonDiv {
    position: fixed;
    right: 4vw;
    bottom: 3vh;
}

.RoomButton {
    background: #9a9a9a;
    width: 8vh;
    height: 8vh;
    font-size: 6vh;
	font-weight: bold;
	text-align:center;
    text-decoration:none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    box-shadow: 0 0 3px gray;
}

.RoomButton:hover {
    background: #ff315c;
}


/* -------------------------------- */
/* -------------CreateRoom------------- */
/* -------------------------------- */

.createRoom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    width: 50vw;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background: #5D5D5D;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    /*box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.16);*/
}

.createRoomButtons{
    display: flex;
    flex-direction: row;
}

.createRoomButtons button{
    margin: 0px 15px;
}

.button.cancel {
    border-radius: 20px;
    color: white;
    background-color: #9a9a9a;
    font-size: 14px;
}


/* -------------------------------- */
/* -------------Player------------- */
/* -------------------------------- */

.player{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;
    color:black;
    background-color: #5D5D5D;
}

.slideContainer {
    position: relative;
    bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

.playerBottom {
    display: flex;
    align-items: center;
}

.playerBox {
    flex: 1;
    display: flex;
    justify-content: center;
}

.playerBox:first-child > span { margin-right: auto; }

.playerBox:last-child  > span { margin-left: auto;  }


.playButton {
    
}