.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    text-shadow: 1px 10px 5px rgba(0, 0, 0, 0.16);
}

.App-header {
    background-color: #444444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.signIn {
    color: black;
    /*border: solid;*/
    /*height: 300px;*/
    width: 443px;
    padding: 20px;
    border-radius: 10px;
    background: #5D5D5D;
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 768px){
    .signIn{
        width: 70%;
    }
}
#formBasicUsername {
    border: none;
    /*border: solid silver;*/
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;

}

#formBasicPassword {
    border: none;
    /*border: solid silver;*/
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

/*.button {*/
/*    !*background-color: #4CAF50;*!*/
/*    border: none;*/
/*    !*color: white;*!*/
/*    padding: 5px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    margin-bottom: 5px;*/
/*    width: 50%;*/
/*    height: 25px;*/
/*}*/

/*.loginhere {*/
/*    border-radius: 20px;*/
/*    color: white;*/
/*    background-color: pink;*/
/*    font-size: 12px;*/
/*}*/

/*.signuphere {*/
/*    border-radius: 20px;*/
/*    color: pink;*/
/*    background-color: darkgrey;*/
/*    font-size: 12px;*/
/*}*/

.Button {
    border: none;
    /*color: white;*/
    text-align: center;
    width: 60%;
    height: 38px;
}

#loginbut {
    border-radius: 20px;
    color: white;
    background-color: #FF88A1;
    font-size: 14px;
}

#signupbut {
    border-radius: 20px;
    color: #FF88A1;
    background-color: #5D5D5D;
    font-size: 14px;
}

.forgotpass {
    border-radius: 20px;
    color: #948F8F;
    background-color: #5D5D5D;
    font-size: 12px;
    border-color: transparent;
}
