.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    text-shadow: 1px 10px 5px rgba(0, 0, 0, 0.16);
}

.App-header {
    background-color: #444444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.signIn {
    color: black;
    /*border: solid;*/
    /*height: 300px;*/
    width: 357px;
    padding: 20px;
    border-radius: 10px;
    background: #5D5D5D;
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 767px){
    .signIn{
        width: 70%;
    }
}
#formBasicUsername {
    border: none;
    /*border: solid silver;*/
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;

}

#formBasicPassword {
    border: none;
    /*border: solid silver;*/
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

.button {
    /*background-color: #4CAF50;*/
    border: none;
    /*color: white;*/
    text-align: center;
    width: 60%;
    height: 38px;
}

.signuphere {
    border-radius: 20px;
    color: white;
    background-color: #FF88A1;
    font-size: 14px;
}

.butlogin, .agreeText{
    border-radius: 20px;
    color: #948F8F;
    background-color: #5D5D5D;
    font-size: 14px;
}

.loginhere , .termshere{
    border-radius: 20px;
    color: #FF88A1;
    background-color: #5D5D5D;
    font-size: 14px;
    width: auto;
}

.bday{
    border: none;
    /* border: solid silver; */
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.agree{
    padding-top: 7px;
    margin: 0px 10px;
    width:14px; /*Desired width*/
    height: 14px; /*Desired height*/
    cursor: pointer;

}