.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    text-shadow: 1px 10px 5px rgba(0, 0, 0, 0.16);
}

.App-header {
    background-color: #444444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.signIn {
    color: black;
    width: 482px;
    padding: 20px;
    border-radius: 10px;
    background: #5D5D5D;
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 767px){
    .signIn{
        width: 70%;
    }
}

#form{
    border: none;

    border-radius: 30px;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    border: none;
    width: 60%;
    height: 38px;
}

.link{
    border: none;
    text-align: center;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.primary {
    border-radius: 20px;
    color: white;
    background-color: #FF88A1;
    font-size: 14px;
}

.secondaryText, .forgotpass{
    color: #948F8F;
    background-color: #5D5D5D;
    font-size: 14px;
    height: 38px;
    display: flex;
    justify-content: center;
    line-height: 38px;
}

.secondary{
    border-radius: 20px;
    color: #FF88A1;
    background-color: #5D5D5D;
    font-size: 14px;
    line-height: 38px;
}

.bday{
    border: none;
    /* border: solid silver; */
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
}

.agree{
    padding-top: 7px;
    margin: 0rem .2rem;
    width:14px; /*Desired width*/
    height: 38px; /*Desired height*/
    cursor: pointer;
}

.signInLogo{
    height: 40vmin;
}